---
layout: layouts/base.njk
---
        <!-- sidebar cart item -->
        {% include './_partials/sidecart.njk' %}
		    <!-- sidebar cart item end -->

        <!-- main header -->
        {% include './_partials/header.njk' %}
	      <!-- main header end -->

		    <!-- Mobile Menu  -->
		    {% include './_partials/mobile-menu.njk' %}
		    <!-- Mobile Menu end-->

		    <!-- Banner -->
		    {% include './_partials/banner-style-two.njk' %}
		    <!-- Banner end-->

		    <!-- About -->
		    {% include './_partials/welcome.njk' %}
		    <!-- About end-->

        <!-- service-section -->
        {% include './_partials/service.njk' %}
        <!-- service-section end -->

        <!-- testimonial-section -->
        {% include './_partials/testimonial.njk' %}
        <!-- testimonial-section end -->

        <!-- news-section -->
        {% include './_partials/news-section.njk' %}
        <!-- news-section end -->
