---
layout: layouts/base.njk
---
        <!-- sidebar cart item -->
        {% include './_partials/sidecart.njk' %}
		    <!-- sidebar cart item end -->

        <!-- main header -->
        {% include './_partials/header.njk' %}
	      <!-- main header end -->

		    <!-- Mobile Menu  -->
		    {% include './_partials/mobile-menu.njk' %}
		    <!-- Mobile Menu end-->

				<!-- page-title -->
		    {% include './_partials/page-title.njk' %}
				<!-- page-title end -->
{{ content | safe }}
