        <section class="error-section centred">
            <div class="bg-layer" style="background-image: url(assets/images/background/error-bg.jpg);"></div>
            <div class="auto-container">
                <div class="inner-box">
                    <h2>404</h2>
                    <h3>Sorry We Can't Find That Page!</h3>
                    <h4>Thi page you are looking for was moved, removed, renamed or never existed</h4>
                    <div class="form-inner">
                        <form action="error.html" method="post">
                            <div class="form-group">
                                <input type="email" name="email" placeholder="Your Email Address" required="">
                                <button type="submit"><i class="icon-1"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>