        <section class="banner-style-two">
            <div class="shape" style="background-image: url(assets/images/shape/shape-4.png);"></div>
            <div class="large-container">
                <div class="row clearfix">
                    <div class="col-lg-8 col-md-12 col-sm-12 slider-block">
                        <div class="slider-content">
                            <div class="single-item-carousel owl-carousel owl-theme owl-dots-none">
                                <div class="single-item">
                                    <figure class="image-box"><img src="assets/images/banner/computers.jpg" alt=""></figure>
                                    <div class="content-box">
                                        <div class="icon-box"><img src="assets/images/icons/icon-6.png" alt=""></div>
                                        <h2>COMPUTER <span>SERVICES </span></h2>
                                    </div>
                                </div>
                                <div class="single-item">
                                    <figure class="image-box"><img src="assets/images/banner/cctv.jpg" alt=""></figure>
                                    <div class="content-box">
                                        <div class="icon-box"><img src="assets/images/icons/icon-6.png" alt=""></div>
                                        <h2>CCTV <span>INSTALLATION </span></h2>
                                    </div>
                                </div>
                                <div class="single-item">
                                    <figure class="image-box"><img src="assets/images/banner/books.jpg" alt=""></figure>
                                    <div class="content-box">
                                        <div class="icon-box"><img src="assets/images/icons/icon-6.png" alt=""></div>
                                        <h2>BOOK <span>LENDING </span></h2>
                                    </div>
                                </div>
                                <div class="single-item">
                                    <figure class="image-box"><img src="assets/images/banner/coffee.jpg" alt=""></figure>
                                    <div class="content-box">
                                        <div class="icon-box"><img src="assets/images/icons/icon-6.png" alt=""></div>
                                        <h2>COFFEE <span>SUPPLIES </span></h2>
                                    </div>
                                </div>
                                <div class="single-item">
                                    <figure class="image-box"><img src="assets/images/banner/treeplanting.jpg" alt=""></figure>
                                    <div class="content-box">
                                        <div class="icon-box"><img src="assets/images/icons/icon-6.png" alt=""></div>
                                        <h2>TREE <span> PLANTING </span></h2>
                                    </div>
                                </div>
                                <div class="single-item">
                                    <figure class="image-box"><img src="assets/images/banner/timber.jpg" alt=""></figure>
                                    <div class="content-box">
                                        <div class="icon-box"><img src="assets/images/icons/icon-6.png" alt=""></div>
                                        <h2>TIMBER <span>SERVICES </span></h2>
                                    </div>
                                </div>
                                <div class="single-item">
                                    <figure class="image-box"><img src="assets/images/banner/hospitality.jpg" alt=""></figure>
                                    <div class="content-box">
                                        <div class="icon-box"><img src="assets/images/icons/icon-6.png" alt=""></div>
                                        <h2>HOSPITALITY <span>SERVICES </span></h2>
                                    </div>
                                </div>
													</div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 image-column">
                        <div class="image-inner">
                            <figure class="image"><img src="assets/images/banner/stella.jpg" alt=""></figure>
                            <div class="text">
                                <h6>Stellas Boutique</h6>
                                <p>Iganga, Uganda</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
