        <section class="contact-page-section">
            <div class="pattern-layer" style="background-image: url(assets/images/shape/shape-6.png);"></div>
            <div class="large-container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-12 col-sm-12 form-column">
                        <div class="form-inner">
                            <div class="sec-title">
                                <span class="sub-title">Need to get in touch?</span>
                                <h2>Send Us a Message.</h2>
                            </div>
                            <form method="post" action="sendemail.php" id="contact-form" class="default-form">
                                <div class="row clearfix">
                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                        <input type="text" name="username" placeholder="Your Name" required="">
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                        <input type="text" name="phone" required="" placeholder="Your Phone">
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                        <input type="text" name="subject" required="" placeholder="Subject">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                        <input type="email" name="email" placeholder="Your Email *" required="">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                        <textarea name="message" placeholder="Message here"></textarea>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group message-btn">
                                        <button class="theme-btn btn-one" type="submit" name="submit-form">Message Us</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 content-column">
                        <div class="content-box">
                            <figure class="logo"><a href="contact.html"><img src="assets/images/logo.png" alt=""></a></figure>
                            <div class="text">
                                <p>We normally respond within a 2 hour window, and via Whatsapp if you provide your Whatsapp number in the contact form here. Thank you so much for your patience.</p>
                            </div>
                            <ul class="info-list clearfix">
                                <li><i class="icon-17"></i><a href="tel:+27631319631">+27 63 131 9631</a></li>
                                <li><i class="icon-18"></i><a href="mailto:info@ziraba.co.za">info@ziraba.co.za</a></li>
                                <li><i class="far fa-map-marker-alt"></i>123 Jeppe Street, Johannesburg, <br />2000, RSA </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
