        <footer class="main-footer">
            <figure class="image-layer-3"><img src="assets/images/resource/footer-3.jpg" alt=""></figure>
            <div class="bg-layer" style="background-image: url(assets/images/background/footer-bg.jpg);"></div>
            <div class="large-container">
                <div class="widget-section">
                    <div class="row clearfix">
                        <div class="col-lg-5 col-md-12 col-sm-12 footer-column">
                            <div class="contact-widget footer-widget">
                                <div class="widget-title">
                                    <h3>Office Info</h3>
                                </div>
                                <div class="widget-content">
                                    <ul class="info-list clearfix">
										<li><i class="icon-17"></i><a href="tel:+27786683305">+27 78 668 3305</a></li>
										<li><i class="icon-17"></i><a href="tel:+27631319631">+27 63 131 9631</a></li>
                                        <li><i class="icon-17"></i><a href="tel:+256771667073">+256 77 166 7073</a></li>
                                        <li><i class="icon-18"></i><a href="mailto:info@ziraba.co.za">info@ziraba.co.za</a></li>
                                        <li><i class="far fa-map-marker-alt"></i>123 Jeppe Street, Johannesburg, 2000, RSA</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-12 offset-xl-3 footer-column">
                            <div class="subscribe-widget footer-widget">
                                <div class="widget-title">
                                    <h3>Newsletter</h3>
                                </div>
                                <div class="widget-content">
                                    <form action="/contact" method="post">
                                        <div class="form-group">
                                            <input type="email" name="email" placeholder="Email Address" required="">
                                            <button type="submit">Send</button>
                                        </div>
                                    </form>
                                    <ul class="social-links clearfix">
                                        <li><h4>Social Network :</h4></li>
                                        <li><a href="index.html"><i class="icon-3"></i></a></li>
                                        <li><a href="index.html"><i class="icon-4"></i></a></li>
                                        <li><a href="index.html"><i class="icon-5"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom centred">
                    <div class="copyright">
                        <h4>Copyright &copy; <a href="#">Ziraba Holdings</a> - 2023</h4>
                    </div>
                </div>
            </div>
        </footer>
