        <header class="main-header header-style-two">
            <!-- header-lower -->
            <div class="header-lower">
                <div class="large-container">
                    <div class="outer-box">
                        <div class="logo-box">
                            <figure class="logo"><a href="/"><img src="/assets/images/logo.png" alt=""></a></figure>
                        </div>
                        <div class="menu-area">
                            <!--Mobile Navigation Toggler-->
                            <div class="mobile-nav-toggler">
                                <i class="icon-bar"></i>
                                <i class="icon-bar"></i>
                                <i class="icon-bar"></i>
                            </div>
                            <nav class="main-menu navbar-expand-md navbar-light">
                                <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                                    <ul class="navigation clearfix">
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/about">About</a></li>
                                        <li class="dropdown"><a href="/services">Services</a>
                                            <ul>
                                                <li><a href="/computer-services">Computer Services</a></li>
                                                <li><a href="/cctv-installations">CCTV Installations</a></li>
                                                <li><a href="/interior-design">Interior Design</a></li>
                                                <li><a href="/urban-design">Urban Design</a></li>
                                                <li><a href="/decor-plan">Decor Plan</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/contact">Contact</a></li>
                                    </ul>
                                </div>
                            </nav>
                            <div class="menu-right-content">
                                <div class="search-box-outer search-toggler">
                                    <i class="icon-1"></i>
                                </div>
                                <div class="nav-btn nav-toggler navSidebar-button">
                                    <i class="icon-2"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--sticky Header-->
            <div class="sticky-header">
                <div class="outer-box">
                    <div class="logo-box">
                        <figure class="logo"><a href="index.html"><img src="/assets/images/logo.png" alt=""></a></figure>
                    </div>
                    <div class="menu-area clearfix">
                        <nav class="main-menu clearfix">
                            <!--Keep This Empty / Menu will come through Javascript-->
                        </nav>
                        <div class="menu-right-content">
                            <div class="search-box-outer search-toggler">
                                <i class="icon-1"></i>
                            </div>
                            <div class="nav-btn nav-toggler navSidebar-button">
                                <i class="icon-2"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
