        <section class="page-title centred">
            <div class="outer-container">
                <div class="bg-layer" style="background-image: url(/assets/images/background/{{ image }});"></div>
                <div class="large-container">
                    <div class="title-box">
                        <h2>{{ title }}</h2>
                    </div>
                </div>
            </div>
        </section>
