        <section class="project-style-two">
            <div class="line-shape">
                <div class="line line-1"></div>
                <div class="line line-2"></div>
                <div class="line line-3"></div>
                <div class="line line-4"></div>
            </div>
            <div class="large-container">
                <div class="project-tab">
                    <div class="row clearfix">
                        <div class="col-lg-4 col-md-12 col-sm-12 title-column">
                            <div class="title-inner">
                                <div class="sec-title">
                                    <span class="sub-title">Porrtfolio</span>
                                    <h2>Our Completed <span>Architecture Projects</span></h2>
                                    <p>Penatibus turpis vel eget cursus ut et. Lacus velit, venenatis eu morbi egestas amet, nunc. Ut sem libero sed nisl tincidunt tristique egestas non vitae. Pulvinar quis duis leo in quis arcu enim.</p>
                                </div>
                                <div class="tab-btn-box">
                                    <div class="tab-btns product-tab-btns clearfix">
                                        <div class="p-tab-btn active-btn" data-tab="#tab-1">
                                            <h4>Interior Design <span>2</span></h4>
                                        </div>
                                        <div class="p-tab-btn" data-tab="#tab-2">
                                            <h4>Archtecture <span>2</span></h4>
                                        </div>
                                        <div class="p-tab-btn" data-tab="#tab-3">
                                            <h4>Urban Design <span>2</span></h4>
                                        </div>
                                        <div class="p-tab-btn" data-tab="#tab-4">
                                            <h4>Discr Design <span>2</span></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-12 col-sm-12">
                            <div class="p-tabs-content">
                                <div class="p-tab active-tab" id="tab-1">
                                    <div class="two-item-carousel owl-carousel owl-theme owl-dots-none nav-style-one">
                                        <div class="project-block-two">
                                            <div class="inner-box">
                                                <figure class="image-box"><img src="/assets/images/project/project-6.jpg" alt=""></figure>
                                                <div class="text">
                                                    <h6>APEX</h6>
                                                    <p>San Diego, California</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="project-block-two">
                                            <div class="inner-box">
                                                <figure class="image-box"><img src="/assets/images/project/project-7.jpg" alt=""></figure>
                                                <div class="text">
                                                    <h6>Delux</h6>
                                                    <p>San Diego, California</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-tab" id="tab-2">
                                    <div class="two-item-carousel owl-carousel owl-theme owl-dots-none nav-style-one">
                                        <div class="project-block-two">
                                            <div class="inner-box">
                                                <figure class="image-box"><img src="/assets/images/project/project-6.jpg" alt=""></figure>
                                                <div class="text">
                                                    <h6>APEX</h6>
                                                    <p>San Diego, California</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="project-block-two">
                                            <div class="inner-box">
                                                <figure class="image-box"><img src="/assets/images/project/project-7.jpg" alt=""></figure>
                                                <div class="text">
                                                    <h6>Delux</h6>
                                                    <p>San Diego, California</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-tab" id="tab-3">
                                    <div class="two-item-carousel owl-carousel owl-theme owl-dots-none nav-style-one">
                                        <div class="project-block-two">
                                            <div class="inner-box">
                                                <figure class="image-box"><img src="/assets/images/project/project-6.jpg" alt=""></figure>
                                                <div class="text">
                                                    <h6>APEX</h6>
                                                    <p>San Diego, California</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="project-block-two">
                                            <div class="inner-box">
                                                <figure class="image-box"><img src="/assets/images/project/project-7.jpg" alt=""></figure>
                                                <div class="text">
                                                    <h6>Delux</h6>
                                                    <p>San Diego, California</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-tab" id="tab-4">
                                    <div class="two-item-carousel owl-carousel owl-theme owl-dots-none nav-style-one">
                                        <div class="project-block-two">
                                            <div class="inner-box">
                                                <figure class="image-box"><img src="/assets/images/project/project-6.jpg" alt=""></figure>
                                                <div class="text">
                                                    <h6>APEX</h6>
                                                    <p>San Diego, California</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="project-block-two">
                                            <div class="inner-box">
                                                <figure class="image-box"><img src="/assets/images/project/project-7.jpg" alt=""></figure>
                                                <div class="text">
                                                    <h6>Delux</h6>
                                                    <p>San Diego, California</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>