        <section class="team-section">
            <div class="line-shape">
                <div class="line line-1"></div>
                <div class="line line-2"></div>
                <div class="line line-3"></div>
                <div class="line line-4"></div>
            </div>
            <div class="large-container">
                <div class="sec-title centred">
                    <span class="sub-title">Professional</span>
                    <h2>Our Team</h2>
                </div>
                <div class="three-item-carousel owl-carousel owl-theme owl-nav-none">
                    <div class="team-block-one">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><img src="assets/images/team/team-1.jpg" alt=""></figure>
                                <ul class="social-links clearfix">
                                    <li><a href="index.html"><i class="icon-3"></i></a></li>
                                    <li><a href="index.html"><i class="icon-4"></i></a></li>
                                    <li><a href="index.html"><i class="icon-5"></i></a></li>
                                </ul>
                            </div>
                            <div class="content-box">
                                <span class="count-text">01</span>
                                <h4><a href="team-details.html">Gaurav Bhalla</a></h4>
                                <span class="designation">Architecture</span>
                            </div>
                        </div>
                    </div>
                    <div class="team-block-one">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><img src="assets/images/team/team-2.jpg" alt=""></figure>
                                <ul class="social-links clearfix">
                                    <li><a href="index.html"><i class="icon-3"></i></a></li>
                                    <li><a href="index.html"><i class="icon-4"></i></a></li>
                                    <li><a href="index.html"><i class="icon-5"></i></a></li>
                                </ul>
                            </div>
                            <div class="content-box">
                                <span class="count-text">02</span>
                                <h4><a href="team-details.html">Haris Gulati</a></h4>
                                <span class="designation">Architecture</span>
                            </div>
                        </div>
                    </div>
                    <div class="team-block-one">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><img src="assets/images/team/team-3.jpg" alt=""></figure>
                                <ul class="social-links clearfix">
                                    <li><a href="index.html"><i class="icon-3"></i></a></li>
                                    <li><a href="index.html"><i class="icon-4"></i></a></li>
                                    <li><a href="index.html"><i class="icon-5"></i></a></li>
                                </ul>
                            </div>
                            <div class="content-box">
                                <span class="count-text">03</span>
                                <h4><a href="team-details.html">Michel Watson</a></h4>
                                <span class="designation">Architecture</span>
                            </div>
                        </div>
                    </div>
                    <div class="team-block-one">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><img src="assets/images/team/team-1.jpg" alt=""></figure>
                                <ul class="social-links clearfix">
                                    <li><a href="index.html"><i class="icon-3"></i></a></li>
                                    <li><a href="index.html"><i class="icon-4"></i></a></li>
                                    <li><a href="index.html"><i class="icon-5"></i></a></li>
                                </ul>
                            </div>
                            <div class="content-box">
                                <span class="count-text">01</span>
                                <h4><a href="team-details.html">Gaurav Bhalla</a></h4>
                                <span class="designation">Architecture</span>
                            </div>
                        </div>
                    </div>
                    <div class="team-block-one">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><img src="assets/images/team/team-2.jpg" alt=""></figure>
                                <ul class="social-links clearfix">
                                    <li><a href="index.html"><i class="icon-3"></i></a></li>
                                    <li><a href="index.html"><i class="icon-4"></i></a></li>
                                    <li><a href="index.html"><i class="icon-5"></i></a></li>
                                </ul>
                            </div>
                            <div class="content-box">
                                <span class="count-text">02</span>
                                <h4><a href="team-details.html">Haris Gulati</a></h4>
                                <span class="designation">Architecture</span>
                            </div>
                        </div>
                    </div>
                    <div class="team-block-one">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><img src="assets/images/team/team-3.jpg" alt=""></figure>
                                <ul class="social-links clearfix">
                                    <li><a href="index.html"><i class="icon-3"></i></a></li>
                                    <li><a href="index.html"><i class="icon-4"></i></a></li>
                                    <li><a href="index.html"><i class="icon-5"></i></a></li>
                                </ul>
                            </div>
                            <div class="content-box">
                                <span class="count-text">03</span>
                                <h4><a href="team-details.html">Michel Watson</a></h4>
                                <span class="designation">Architecture</span>
                            </div>
                        </div>
                    </div>
                    <div class="team-block-one">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><img src="assets/images/team/team-1.jpg" alt=""></figure>
                                <ul class="social-links clearfix">
                                    <li><a href="index.html"><i class="icon-3"></i></a></li>
                                    <li><a href="index.html"><i class="icon-4"></i></a></li>
                                    <li><a href="index.html"><i class="icon-5"></i></a></li>
                                </ul>
                            </div>
                            <div class="content-box">
                                <span class="count-text">01</span>
                                <h4><a href="team-details.html">Gaurav Bhalla</a></h4>
                                <span class="designation">Architecture</span>
                            </div>
                        </div>
                    </div>
                    <div class="team-block-one">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><img src="assets/images/team/team-2.jpg" alt=""></figure>
                                <ul class="social-links clearfix">
                                    <li><a href="index.html"><i class="icon-3"></i></a></li>
                                    <li><a href="index.html"><i class="icon-4"></i></a></li>
                                    <li><a href="index.html"><i class="icon-5"></i></a></li>
                                </ul>
                            </div>
                            <div class="content-box">
                                <span class="count-text">02</span>
                                <h4><a href="team-details.html">Haris Gulati</a></h4>
                                <span class="designation">Architecture</span>
                            </div>
                        </div>
                    </div>
                    <div class="team-block-one">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><img src="assets/images/team/team-3.jpg" alt=""></figure>
                                <ul class="social-links clearfix">
                                    <li><a href="index.html"><i class="icon-3"></i></a></li>
                                    <li><a href="index.html"><i class="icon-4"></i></a></li>
                                    <li><a href="index.html"><i class="icon-5"></i></a></li>
                                </ul>
                            </div>
                            <div class="content-box">
                                <span class="count-text">03</span>
                                <h4><a href="team-details.html">Michel Watson</a></h4>
                                <span class="designation">Architecture</span>
                            </div>
                        </div>
                    </div>
                    <div class="team-block-one">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><img src="assets/images/team/team-1.jpg" alt=""></figure>
                                <ul class="social-links clearfix">
                                    <li><a href="index.html"><i class="icon-3"></i></a></li>
                                    <li><a href="index.html"><i class="icon-4"></i></a></li>
                                    <li><a href="index.html"><i class="icon-5"></i></a></li>
                                </ul>
                            </div>
                            <div class="content-box">
                                <span class="count-text">01</span>
                                <h4><a href="team-details.html">Gaurav Bhalla</a></h4>
                                <span class="designation">Architecture</span>
                            </div>
                        </div>
                    </div>
                    <div class="team-block-one">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><img src="assets/images/team/team-2.jpg" alt=""></figure>
                                <ul class="social-links clearfix">
                                    <li><a href="index.html"><i class="icon-3"></i></a></li>
                                    <li><a href="index.html"><i class="icon-4"></i></a></li>
                                    <li><a href="index.html"><i class="icon-5"></i></a></li>
                                </ul>
                            </div>
                            <div class="content-box">
                                <span class="count-text">02</span>
                                <h4><a href="team-details.html">Haris Gulati</a></h4>
                                <span class="designation">Architecture</span>
                            </div>
                        </div>
                    </div>
                    <div class="team-block-one">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><img src="assets/images/team/team-3.jpg" alt=""></figure>
                                <ul class="social-links clearfix">
                                    <li><a href="index.html"><i class="icon-3"></i></a></li>
                                    <li><a href="index.html"><i class="icon-4"></i></a></li>
                                    <li><a href="index.html"><i class="icon-5"></i></a></li>
                                </ul>
                            </div>
                            <div class="content-box">
                                <span class="count-text">03</span>
                                <h4><a href="team-details.html">Michel Watson</a></h4>
                                <span class="designation">Architecture</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
